<%- include ('./header.ejs') %>

<link rel="stylesheet" href="style.css">

<style>
    label{
        color: black;
        margin-top: 20px;
    }
</style>


<style>


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.evaluation {display: none;}
#calculation {display: none;}
.main-nav {display: none;}
#footer{display:none;}
.question{  height: 200%;
background: white;}
.answer{display: inline-block;}
.mobile-nav-toggle {display: none;}

/* .question{display: none;} */

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
  #service {margin-top: 12%;}

}


@media only screen and (min-width: 600px) {
  #service {margin-top: 12%;}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #service {margin-top: 10%;}

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #service {margin-top: 5%;}

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
#service {margin-top: 5%;}
}
</style>

 <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section style="padding-top: 10rem;">

            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                      <img src="/img/Visa/Visa/Contact Page/Man2.png" alt="register" width="100%;height:883px">
                    </div>
                    <div class="col-lg-6 for fo ">
                      <p><span style="color: black;font-family: Poppins;
                        font-size: 32px;
                        font-weight: 600;
                        line-height: 48px;
                        letter-spacing: 0em;
                        text-align: left;
                        "><b>Send us a message</b> </span></p>
                       <p style="font-family: Poppins;
                       font-size: 16px;
                       font-weight: 400;
                       line-height: 24px;
                       letter-spacing: 0em;
                       text-align: left;
                       ">Just drop a message .We will contact you</p>
                        <form>
                            <div class="form-group" style="margin-top:40px">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control box for1" id="name" placeholder="Enter name" name="name">
                              </div> 
                              
                              
                              <div class="form-group">
            
                                <label for="email">Email *</label>
                                <input type="email" class="form-control  box for1" id="email" placeholder="Enter email" name="email">
                              </div>



                              <div class="form-group">
            
                                <label for="email">Country Interested IN *</label>
                                <select id="countryid" name="countryid" class="form-control" required style="    padding: 20px;
                                box-shadow: 7px 4px 32px #cba6f0cf;
                                background-color: #EAE1FB;
                                border-radius: 5px;"></select>
                              </div>



                              <div class="form-group">
            
                                <label for="email">Visa Type Interested * </label>
                                <select id="visaid" name="visaid" class="form-control" required style="    padding: 20px;
                                box-shadow: 7px 4px 32px #cba6f0cf;
                                background-color: #EAE1FB;
                                border-radius: 5px;"></select>
                              </div>




                          <div class="form-group">
                            <label for="email">Phone number *</label>
                            <input type="number" class="form-control box for1" id="number" placeholder="Enter phone number" name="phone no">
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">your Message</label>
                            <textarea class="form-control exampleFormControlTextarea1" id="message" rows="3"></textarea>
                          </div>
                    <!-- Submit button -->
                    <a  class="btn btn-primary btn-lg me-md-4 mb-3 mb-md-0 border-0 primary-btn-shadow submitbutton" style="border-radius: 50px;margin-top: 20px;" href="#!" role="button">Continue</a>

                        </form>
                    </div>
            
            
                </div>
            </div>





            
    
          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.5290990986305!2d55.2619329!3d25.185373499999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f698190ff2635%3A0x45fe50e170b477e2!2sRoyal%20Pacific%20Immigration!5e0!3m2!1sen!2sae!4v1673959722935!5m2!1sen!2sae" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


<%- include ('./footer.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   
<script>
  $('.submitbutton').click(function(){

    var email = $('#email').val()
      let number = $('#number').val();
      let name = $('#name').val();
      let message = $('#message').val();
      let countryid = $('#countryid').val();
      let visaid = $('#visaid').val()
      

    var txt = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

    if($('#name').val()==null || $('#name').val() =='' || $('#name').val() == []) alert('Enter Name');
    else if($('#email').val()==null || $('#email').val() =='' || $('#email').val() == []) alert('Enter Email');

    else if(!txt.test(email)) alert('Invalid Email')
    else if($('#number').val()==null || $('#number').val() =='' || $('#number').val() == []) alert('Enter Mobile Number');

    
    else {
    
      $.post('/contact/insert',{name,email,number,message,countryid,visaid},data=>{
        alert('Our Team Will Contact You Soon.')
      })
    }
    
  })
</script>