

  
       
  
  
        
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="pb-0 pb-lg-4" style="background-color: #F2EEFF;">
  
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-7 col-12 mb-4 mb-md-6 mb-lg-0 order-0" style="font-size: 32px;color: #4f46e5;"> 
                <img src="/images/logo.png" style="width: 150px;">
                <!-- <p class="fs--1 text-secondary mb-0 " style="
                font-family: Manrope;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                height: 96px;
width: 255px;
left: 0px;
top: 80px;
border-radius: nullpx;

                ">Lorem ipsum dolor amet, consectetur adipiscing elit. Eget nisl nunc quam ac sed turpis volutpat. Cursus sed massa non nisi, placerat.</p> -->
               <p>
                <span><span><img src="/img/Visa/Visa/Main Homepage/Path1.png" alt="" srcset=""></span></span>
                <span><span><img src="/img/Visa/Visa/Main Homepage/Path.png" alt="" srcset=""></span></span>
                <span><span><img src="/img/Visa/Visa/Main Homepage/twitter.png" alt="" srcset=""></span></span>
                <span><span><img src="/img/Visa/Visa/Main Homepage/yt.png" alt="" srcset=""></span></span>
                
              </p> 
              </div>
              <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
  </div>
              <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4" style="
                font-family: Manrope;
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                ">Quick Links</h4>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="#!" style="
                    font-family: Manrope;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    ">Portfolio</a></li>
                      <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="/blogs" style="
                        font-family: Manrope;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        ">Blogs</a></li>
                   <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="#!" style="
                    font-family: Manrope;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    ">About</a></li>
                       <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="/contact-us" style="
                        font-family: Manrope;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        ">Contact Us</a></li>
                        <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="#!" style="
                          font-family: Manrope;
                          font-size: 14px;
                          font-weight: 400;
                          line-height: 24px;
                          letter-spacing: 0em;
                          text-align: left;
                          ">Careers</a></li>
                </ul>
              </div>



              <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4" style="
                font-family: Manrope;
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                ">Services</h4>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="#!" style="
                    font-family: Manrope;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    ">Visa Processing</a></li>
                      <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="#!" style="
                        font-family: Manrope;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        ">Education</a></li>
                   <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="#!" style="
                    font-family: Manrope;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    ">Consultancy</a></li>
                       <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="#!" style="
                        font-family: Manrope;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        ">Migration</a></li>
                        <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="#!" style="
                          font-family: Manrope;
                          font-size: 14px;
                          font-weight: 400;
                          line-height: 24px;
                          letter-spacing: 0em;
                          text-align: left;
                          ">Expert Support</a></li>
                </ul>
              </div>




              <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4" style="
                font-family: Manrope;
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                ">Reach us</h4>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="#!" style="
                    font-family: Manrope;
                    font-size: 14px;
                    display: flex;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    "><span><img src="/img/Visa/Visa/Main Homepage/Message.png" alt="" srcset=""> </span>  info@royalpacificimmigration.com</a></li>
                      <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="#!" style="
                        font-family: Manrope;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        "><span><img src="/img/Visa/Visa/Main Homepage/Mobile.png" alt="" srcset=""></span>  +91 98765 43210</a></li>
                   <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="#!" style="
                    font-family: Manrope;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    "><span><img src="/img/Visa/Visa/Main Homepage/Location.png" alt="" srcset=""></span> No. 3108, Park Lane Tower, Business Bay , Dubai UAE</a></li>
                   
                </ul>
              </div>


             
            </div>
          </div><!-- end of .container-->
  
  
          
  
        </section>
  
  
        <section class="pb-0 pb-lg-4" style="background-color: #F2EEFF;">
  
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-7 col-12 mb-4 mb-md-6 mb-lg-0 order-0"> All rights reserved
              </div>
              <div class="col-lg-4 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
  </div>
          
              <div class="col-lg-4 col-md-4 mb-4 mb-lg-0 order-lg-2 order-md-3">
             <p style="font-size: 14px;">Terms & Conditions |
             <span>Privacy Policy</span>
             |
             <span>Sitemap</span> |
             <span>Disclaimer</span></p>
  
  
        
              </div>
             
             
            </div>
          </div><!-- end of .container-->
  
  
          
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
  
  
       
      </main>
      <!-- ===============================================-->
      <!--    End of Main Content-->
      <!-- ===============================================-->
  
  
  
  
      <!-- ===============================================-->
      <!--    JavaScripts-->
      <!-- ===============================================-->
      <script src="/public/vendors/@popperjs/popper.min.js"></script>
      <script src="/public/vendors/bootstrap/bootstrap.min.js"></script>
      <script src="/public/vendors/is/is.min.js"></script>
      <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
      <script src="/public/vendors/fontawesome/all.min.js"></script>
      <script src="/public/assets/js/theme.js"></script>
  
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">
    </body>
  
  </html>