

  
       
  
  
        
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="pb-0 pb-lg-4">
  
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-7 col-12 mb-4 mb-md-6 mb-lg-0 order-0" style="font-size: 32px;color: #4f46e5;"> Logo
                <p class="fs--1 text-secondary mb-0 fw-medium">Book your trip in minute, get full Control for much longer.</p>
              </div>
              <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
  </div>
              <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4">Quick Links</h4>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">About</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">Careers</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">Mobile</a></li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-2 order-md-3">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4">Services</h4>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">Help/FAQ</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">Press</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">Affiliate</a></li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-3 order-md-4">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4">Reach Us</h4>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">Airlinefees</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">Airline</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">Low fare tips</a></li>
                </ul>
              </div>
             
            </div>
          </div><!-- end of .container-->
  
  
          
  
        </section>
  
  
        <section class="pb-0 pb-lg-4">
  
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-7 col-12 mb-4 mb-md-6 mb-lg-0 order-0"> All rights reserved
              </div>
              <div class="col-lg-4 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
  </div>
          
              <div class="col-lg-4 col-md-4 mb-4 mb-lg-0 order-lg-2 order-md-3">
             <p style="font-size: 14px;">Terms & Conditions |
             <span>Privacy Policy</span>
             |
             <span>Sitemap</span>|
             <span>Disclaimer</span></p>
  
  
        
              </div>
             
             
            </div>
          </div><!-- end of .container-->
  
  
          
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
  
  
       
      </main>
      <!-- ===============================================-->
      <!--    End of Main Content-->
      <!-- ===============================================-->
  
  
  
  
      <!-- ===============================================-->
      <!--    JavaScripts-->
      <!-- ===============================================-->
      <script src="/public/vendors/@popperjs/popper.min.js"></script>
      <script src="/public/vendors/bootstrap/bootstrap.min.js"></script>
      <script src="/public/vendors/is/is.min.js"></script>
      <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
      <script src="/public/vendors/fontawesome/all.min.js"></script>
      <script src="/public/assets/js/theme.js"></script>
  
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">
    </body>
  
  </html>