

  
       
  
  
        
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="pb-0 pb-lg-4" style="background-color: #F2EEFF;">
  
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-12 mb-4 mb-md-6 mb-lg-0 order-0" style="font-size: 32px;color: #4f46e5;"> 
                <img src="/images/logo.png" style="width: 150px;">
                <!-- <p class="fs--1 text-secondary mb-0 " style="
                font-family: Manrope;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                height: 96px;
width: 255px;
left: 0px;
top: 80px;
border-radius: nullpx;

                ">Lorem ipsum dolor amet, consectetur adipiscing elit. Eget nisl nunc quam ac sed turpis volutpat. Cursus sed massa non nisi, placerat.</p> -->
               <p>
                <a href="https://www.facebook.com/royalpacificmigration/"> <span><span><img src="/images/icons8-facebook-48.png" alt="" srcset="" style="width: 35px;"></span></span></a>
                <a href="https://instagram.com/royalpacificimmigration?igshid=YmMyMTA2M2Y="> <span><span><img src="/images/icons8-instagram-48.png" alt="" srcset="" style="width: 35px;"></span></span></a>
               <a href="https://twitter.com/RoyalPacific_"><span><span><img src="/images/icons8-twitter-48.png" alt="" srcset="" style="width: 35px;"></span></span></a> 
                
              </p> 
              </div>
              <div class="col-lg-1 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
  </div>
              <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4" style="
                font-family: Manrope;
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                ">Quick Links</h4>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="/about-us" style="
                    font-family: Manrope;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    ">Portfolio</a></li>
                      <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="/blogs" style="
                        font-family: Manrope;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        ">Blogs</a></li>
                   <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="/about-us" style="
                    font-family: Manrope;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    ">About</a></li>
                       <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="/contact-us" style="
                        font-family: Manrope;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        ">Contact Us</a></li>
                      
                </ul>
              </div>



              <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4" style="
                font-family: Manrope;
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                ">Services</h4>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="/visa" style="
                    font-family: Manrope;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    ">Visa Processing</a></li>
                      <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="/coaching/IELTS-Coaching" style="
                        font-family: Manrope;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        ">Education</a></li>
                   <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="/contact-us" style="
                    font-family: Manrope;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    ">Consultancy</a></li>
                       <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="/countries" style="
                        font-family: Manrope;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        ">Migration</a></li>
                        <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="/contact-us" style="
                          font-family: Manrope;
                          font-size: 14px;
                          font-weight: 400;
                          line-height: 24px;
                          letter-spacing: 0em;
                          text-align: left;
                          ">Expert Support</a></li>
                </ul>
              </div>




              <div class="col-lg-3 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4" style="
                font-family: Manrope;
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                ">Reach us</h4>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="#!" style="
                    font-family: Manrope;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    "><span><img src="/img/Visa/Visa/Main Homepage/Message.png" alt="" srcset=""> </span>  info@royalpacificimmigration.com</a></li>
                      <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="tel:+971043753077" style="
                        font-family: Manrope;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        "><span><img src="/img/Visa/Visa/Main Homepage/Mobile.png" alt="" srcset=""></span>  +971 043753077</a></li>
                   <li class="mb-2"><a class="link-900 fs-1  text-decoration-none" href="#!" style="
                    font-family: Manrope;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    "><span><img src="/img/Visa/Visa/Main Homepage/Location.png" alt="" srcset=""></span> No. 3108, Park Lane Tower, Business Bay , Dubai UAE</a></li>
                   
                </ul>
              </div>


             
            </div>
          </div><!-- end of .container-->
  
  
          
  
        </section>
  
  
        <section class="pb-0 pb-lg-4" style="background-color: #F2EEFF;">
  
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-7 col-12 mb-4 mb-md-6 mb-lg-0 order-0"> All rights reserved
              </div>
              <div class="col-lg-4 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
  </div>
          
              <div class="col-lg-4 col-md-4 mb-4 mb-lg-0 order-lg-2 order-md-3">
             <p style="font-size: 14px;">Terms & Conditions |
             <span>Privacy Policy</span>
             |
             <span>Sitemap</span> |
             <span>Disclaimer</span></p>
  
  
        
              </div>
             
             
            </div>
          </div><!-- end of .container-->
  
  
          
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
  
  
       
      </main>
      <!-- ===============================================-->
      <!--    End of Main Content-->
      <!-- ===============================================-->
  
  
  
  
      <!-- ===============================================-->
      <!--    JavaScripts-->
      <!-- ===============================================-->
      <script src="/public/vendors/@popperjs/popper.min.js"></script>
      <script src="/public/vendors/bootstrap/bootstrap.min.js"></script>
      <script src="/public/vendors/is/is.min.js"></script>
      <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
      <script src="/public/vendors/fontawesome/all.min.js"></script>
      <script src="/public/assets/js/theme.js"></script>
  
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">
    </body>
  


    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
$('#search').on("click",(function(e){
$(".form-group").addClass("sb-search-open");
  e.stopPropagation()
}));
 $(document).on("click", function(e) {
  if ($(e.target).is("#search") === false && $(".form-control").val().length == 0) {
    $(".form-group").removeClass("sb-search-open");
  }
});
  $(".form-control-submit").click(function(e){
    $(".form-control").each(function(){
      if($(".form-control").val().length == 0){
        e.preventDefault();
        $(this).css('border', '2px solid red');
      }
  })
})
})
    </script>


<script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  
  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }


 
$('.subscribe_button').click(function(){
  var txt = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  var email = $('.subscribe_email').val()
  if($('.subscribe_email').val() == null || $('.subscribe_email').val() == [] || $('.subscribe_email').val() == '' || $('.subscribe_email').val() == 'null') alert('Enter Email')
  else if(!txt.test(email)) alert('Invalid Email')
  else{
    $.post('/subscribe/insert',{email},data=>{
      if(data.status=='500'){
        alert('Already Subscribed')
      }
      else{
        alert('Thankyou for subscribing us.')

      }
      })
  }
})




$.getJSON(`/add-country/show`, data => {
    addgroup = data
    console.log('leagues',data)
    fillDropDown('countryid', data, 'Choose Country', 0)
  
})

$.getJSON(`/add-visa/show`, data => {
    addgroup = data
    console.log('leagues',data)
    fillDropDown('visaid', data, 'Choose Country', 0)
  
})

function fillDropDown(id, data, label, selectedid = 0) {
    $(`#${id}`).empty()
    // $(`#${id}`).append($('<option>').val("null").text(label))

    $.each(data, (i, item) => {
        if (item.id == selectedid) {
            $(`#${id}`).append($('<option selected>').val(item.id).text(item.name))
        } else {
            $(`#${id}`).append($('<option>').val(item.id).text(item.name))
        }
    })
}

  </script>

  </html>