<%- include ('./header.ejs') %>

   
<section  id="destination" style="padding-top: 10rem;">

<div class="container" >

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://www.rasmussen.edu/-/media/images/blogs/school-of-business/human-resources-skills.png" alt="First slide">
          </div>
        
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      
</div>
</section>
        <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section  id="destination">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p style="font-size: 35px;color: black;"><b>Latest news</b></p>
                        <a  class="btn btn-primary btn-lg me-md-4 mb-3 mb-md-0 border-0 primary-btn-shadow float-right" style="border-radius: 50px;float: right;margin-top:-64px ;" href="#!" role="button">Continue</a>

                    </div>
                 
            
                </div>
            </div>


          <div class="container">
            <div class="position-absolute start-100 bottom-0 translate-middle-x d-none d-xl-block ms-xl-n4"><img src="/public/assets/img/dest/shape.svg" alt="destination" /></div>
            
            <div class="row">
              <div class="col-md-4 mb-4">
                <div class="card text-dark bg-white mb-3 card2">
                  <img src="/public/images/visa-image/images/homepage/news and blogs/Rectangle 1-1.jpg" alt="image" style="padding: 20px;">
                  <div class="card-body">
                    <h3 class="card-title "> Visa consultancy</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                      bulk of
                      the
                      card's content.</p>
        
                  </div>
                </div>
              </div>
  
  

              <div class="col-md-4 mb-4">
                <div class="card text-dark bg-white mb-3 card2">
                  <img src="/public/images/visa-image/images/homepage/news and blogs/Rectangle 1-2.jpg" alt="image" style="padding: 20px;">
                  <div class="card-body">
                    <h3 class="card-title "> Visa consultancy</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                      bulk of
                      the
                      card's content.</p>
        
                  </div>
                </div>
              </div>
  


              <div class="col-md-4 mb-4">
                <div class="card text-dark bg-white mb-3 card2">
                  <img src="/public/images/visa-image/images/homepage/news and blogs/Rectangle 1-3.jpg" alt="image" style="padding: 20px;">
                  <div class="card-body">
                    <h3 class="card-title "> Visa consultancy</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                      bulk of
                      the
                      card's content.</p>
        
                  </div>
                </div>
              </div>
  


              <div class="col-md-4 mb-4">
                <div class="card text-dark bg-white mb-3 card2">
                  <img src="/public/images/visa-image/images/homepage/news and blogs/Rectangle 1-4.jpg" alt="image" style="padding: 20px;">
                  <div class="card-body">
                    <h3 class="card-title "> Visa consultancy</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                      bulk of
                      the
                      card's content.</p>
        
                  </div>
                </div>
              </div>
  


              <div class="col-md-4 mb-4">
                <div class="card text-dark bg-white mb-3 card2">
                  <img src="/public/images/visa-image/images/homepage/news and blogs/Rectangle 1-5.jpg" alt="image" style="padding: 20px;">
                  <div class="card-body">
                    <h3 class="card-title "> Visa consultancy</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                      bulk of
                      the
                      card's content.</p>
        
                  </div>
                </div>
              </div>
  


              <div class="col-md-4 mb-4">
                <div class="card text-dark bg-white mb-3 card2">
                  <img src="/public/images/visa-image/images/homepage/news and blogs/Rectangle 1.jpg" alt="image" style="padding: 20px;">
                  <div class="card-body">
                    <h3 class="card-title "> Visa consultancy</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                      bulk of
                      the
                      card's content.</p>
        
                  </div>
                </div>
              </div>


              <div class="col-md-4 mb-4">
                <div class="card text-dark bg-white mb-3 card2">
                  <img src="/public/images/visa-image/images/homepage/news and blogs/Rectangle 1-1.jpg" alt="image" style="padding: 20px;">
                  <div class="card-body">
                    <h3 class="card-title "> Visa consultancy</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                      bulk of
                      the
                      card's content.</p>
        
                  </div>
                </div>
              </div>
  
  

              <div class="col-md-4 mb-4">
                <div class="card text-dark bg-white mb-3 card2">
                  <img src="/public/images/visa-image/images/homepage/news and blogs/Rectangle 1-2.jpg" alt="image" style="padding: 20px;">
                  <div class="card-body">
                    <h3 class="card-title "> Visa consultancy</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                      bulk of
                      the
                      card's content.</p>
        
                  </div>
                </div>
              </div>
  


              <div class="col-md-4 mb-4">
                <div class="card text-dark bg-white mb-3 card2">
                  <img src="/public/images/visa-image/images/homepage/news and blogs/Rectangle 1-3.jpg" alt="image" style="padding: 20px;">
                  <div class="card-body">
                    <h3 class="card-title "> Visa consultancy</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                      bulk of
                      the
                      card's content.</p>
        
                  </div>
                </div>
              </div>
  
              <div class="mt-4 mb-3" style="text-align: center;">
                <a class="btn btn-primary btn-lg me-md-4 mb-3 mb-md-0 border-0 primary-btn-shadow" style="border-radius: 50px;" href="#!" role="button">Load More</a>
              
                <!-- <a href="#" class="btn btn-primary stretched-link  button4">See All Countries</a> -->
              </div>
             
             
            </div>
          </div><!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
  


   


        <%- include ('./footer.ejs') %>