<%- include ('./header.ejs') %>
      <section style="padding-top: 10rem;background-color: white;" >
        <div class="bg-holder" style="background-image:url();">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row align-items-center">
           
            <div class="col-md-7 col-lg-6 text-md-start text-center py-6">
              <h1 class="hero-titl" style="font-family: Poppins;
              font-size: 48px;
              font-weight: 700;
              line-height: 56px;
              letter-spacing: 0em;
              text-align: left;
              "><%=name.replace('-' , ' ')%></h1>
              <p class="mb-4 fw-medium">No Country Available</p>
              <div class="text-center text-md-start">
                
                <div class="modal fade" id="popupVideo" tabindex="-1" aria-labelledby="popupVideo" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                      <iframe class="rounded" style="width:100%;max-height:500px;" height="500px" src="https://www.youtube.com/embed/_lhdhL4UDIo" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


   
   




        <%- include ('./footer.ejs') %>